@using EspacioTablero
@model MVC.ViewModel.ListarUsuarioViewModel  // usamos el viewmodel 

<h2 class="text-center text-muted display-8 fw-light">Listado de Usuarios</h2>
<table class="table table-striped">
    <thead class="table-dark">
        <tr>
            <td hidden>ID</td>
            <td>Nombre</td> 
            <td></td> <!-- modificar -->
            <td></td> <!-- Eliminar -->
        </tr>
    </thead>
    <tbody>
        @foreach (var usuario in Model.UsuariosViews) // tenemos que hacer uso de la lista que tiene listarusuariosviewmodel, llamada usuariosViews
        {
            <tr>
                <td hidden>@usuario.Id</td>
                <td>@usuario.NombreDeUsuario</td>
                <td><a asp-controller="Usuario" asp-action="ModificarUsuario" asp-route-id="@usuario.Id">Modificar</a></td>
                <!-- modificar -->
                <td><a asp-controller="Usuario" asp-action="EliminarUsuario" asp-route-id="@usuario.Id">Eliminar</a></td>
                <!-- Eliminar -->
            </tr>
        }
    </tbody>
</table>
<div class="form-group mb-3 text-center">
    <div class="col-md-4 mx-auto"> <!-- Utiliza mx-auto para centrar en dispositivos medianos y grandes -->
        <a class="btn btn-dark btn-block text-white" asp-area="" asp-controller="Usuario" asp-action="CrearUsuario">Agregar Usuario</a>
    </div>
</div>
